.searching {
    .search-btn {
        background-color: #81ecec;
        color: #636e72;
        transition: 0.3s;

        &:hover {
            background-color: #74b9ff;
            color: #dfe6e9;
        }
    }
}